.glass{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0px 4px 30px #4747470b;
    backdrop-filter: blur(7.1px);
    border:1px solid rgba(255, 255, 255, 0.3);
    background-color: white;
    @apply border border-gray-300 border-b-4 shadow-2xl shrink-0 h-5/6 w-[20%] shadow-inner py-10 px-4 min-w-max min-h-max;
    @apply hover:border-black
}
.profile_img{
    @apply border-4 rounded-full w-[100px] h-[100px]  shadow-lg cursor-pointer;
    @apply hover:border-blue-300
}

.textbox{
    @apply border border-b-4 border-black py-2 px-5 w-3/4 text-lg m-auto rounded-md shadow-sm;
    @apply focus:outline-none focus:border-purple-500;
}

.btn{
    @apply  border border-b-4 border-black  w-3/4 rounded-lg py-2;
  
}

.btn:hover{
    @apply border-2 bg-pink-500
}

input[type="file"]{
    display: none;

}

.menuitems{
    @apply m-3 w-11/12 items-center rounded-lg hover:bg-gray-100 h-10 gap-4 rounded-lg p-1 flex justify-start
}