.glass{
    background: rgba(255, 255, 255, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px #4747470b;
    /* backdrop-filter: blur(7.1px); */
    border:1px solid rgba(255, 255, 255, 0.3);
    background-color: #F9F5F6;
    @apply border-4 border-gray-50 shrink-0 h-5/6 w-[20%] rounded-3xl py-10 px-4 min-w-max min-h-max;
}
.profile_img{
    @apply border-4 rounded-full w-[100px] h-[100px]  shadow-lg cursor-pointer;
    @apply hover:border-blue-300
}

.textbox{
    @apply border-0 py-2 px-5 w-3/4 text-lg m-auto rounded-md shadow-sm;
    @apply focus:outline-none border-purple-500;
}

.btn{
    @apply  border-2  border-pink-400 w-3/4 rounded-lg py-2
}

.btn:hover{
    @apply border-2 bg-pink-500
}

input[type="file"]{
    display: none;

}